<ng-container *ngIf="students">
  <div class="student-card-container" *ngFor="let student of students">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ student.firstname }} {{ student.lastname }}</mat-card-title>
        <mat-card-subtitle>ID: {{ student.id }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="enrolled-subjects">
          <!--
          <h3>Enrolled Subjects:</h3>
          <ul>
            <li *ngFor="let subject of student.enrolledSubjects">{{ subject }}</li>
          </ul>
          -->
        </div>
        <div class="grades">
          <h2>Grades:</h2>
          <table>
            <thead>
            <tr>
              <th>Fach</th>
              <th>Prüfungsnoten</th>
              <th>Durchschnitt</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subject of getUniqueSubjects(student.grades)">
              <td>{{ getSubjectName(subject) }}</td>
              <td>
                  <span *ngFor="let grade of getGradesBySubjectId(student.grades, subject); let last = last">
                    {{ grade.gradeValue }}
                    <ng-container *ngIf="!last">/</ng-container>
                  </span>
              </td>
              <td>{{ getAverageGradeBySubjectId(student.grades, subject) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
      <!--
      <mat-card-actions>
        <button mat-button>View Details</button>
      </mat-card-actions>
      -->
    </mat-card>
  </div>
</ng-container>
