:root{
  --blue: #1095C1FF;
  --error: #EF0107;
  --save: #138808
}


h1{
  text-align: center;
  color: var(--primary);
  padding-top: 5%;
}

mat-tab{
  margin-top: 5%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
