<mat-card class="student-card"
          *ngIf="searchString === ''
|| student.lastname.startsWith(searchString)
|| student.firstname.startsWith(searchString)
|| student.id.startsWith(searchString)
|| student.email.startsWith(searchString)
|| student.birthdate.startsWith(searchString)">
  <mat-card-header id="cardTitle">
    <mat-card-title>{{student.lastname}} {{student.firstname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>ID: {{student.id}}</p>
    <p>Geburtsdatum: {{student.birthdate}}</p>
    <p>E-Mail: {{student.email}}</p>
    <br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button id="editButton" class="button">Edit</button>
    <button mat-button id="deleteButton" class="button">Delete</button>
  </mat-card-actions>
</mat-card>
