<article>
  <h1>Einschreibung für {{student.firstname}} {{student.lastname}}</h1>
  <div class="example-container">
    <h2>Nicht eingeschrieben</h2>
    <div
      cdkDropList
      #notEnrolledList="cdkDropList"
      [cdkDropListData]="notEnrolled"
      [cdkDropListConnectedTo]="[enrolledList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let subject of notEnrolled" cdkDrag>{{subject.name}} ({{subject.code}})</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Eingeschrieben</h2>

    <div
      cdkDropList
      #enrolledList="cdkDropList"
      [cdkDropListData]="enrolled"
      [cdkDropListConnectedTo]="[notEnrolledList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let subject of enrolled" cdkDrag>{{subject.name}} ({{subject.code}})</div>
    </div>
  </div>
  <div id="action-area">
    <button id="cancel" class="action-button" (click)="onButtonClick($event)">Abbrechen</button>
    <button id="ok" class="action-button" (click)="onButtonClick($event)">Speichern</button>
  </div>
</article>

