
#action-area {
  display: flex;
  justify-content: flex-end;
}

.action-button {
  max-width: 150px;
  margin-right: 25px;
}

.error-message{
  color: var(--error);
}

.success-message{
  color: var(--green);
}

#gradeInput {
  margin-right: 25px;
}

#cancel{
  background-color: var(--del-color);
  border-color: var(--del-color);
}


