<article>
  <h1 *ngIf="subject">Notenerfassung für {{subject.name}}</h1>
    <mat-form-field>
      <mat-label>Bitte auswählen</mat-label>
      <mat-select [(value)]="student">
        <mat-option *ngFor="let studentElement of enrolledStudents" [value]="studentElement">
          {{studentElement.firstname}} {{studentElement.lastname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <input type="text" id="gradeInput" [(ngModel)]="gradeValue">
  <div id="action-area">
    <button id="cancel" class="action-button" type="submit" (click)="onButtonClick($event)">
      Zurück
    </button>
    <button id="ok" class="action-button" (click)="onButtonClick($event)">Erfassen</button>
  </div>
</article>

